.MuiBottomNavigationAction-wrapper {
    display: flex !important;
    flex-direction: row !important;
}

.MuiBottomNavigationAction-label {
    margin-left: 20px !important;
}

.MuiTouchRipple-root {
    border-radius: 26px !important;
}