html{
  margin: 0%;
  padding: 0%;
  height: 100vh;
}

body{
  height: 100%;
}

body div{
  height: 100%;
}


.cuerpo{
  display: grid;

  padding: 10%;
  background-color: blue;
  grid-template: 1fr / 1fr;
  justify-items: center;
  align-items: center;
}